<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="SecretKeyBase32" value="Y64VEVMBTSXCYIWRSHRNDZW62MPGVU2G"/>
    <add key="PSHK" value="Eleven"/>
    <add key="ESSID" value="carbon"/>
    <add key="StepSeconds" value="33"/>
    <add key="WlanInterfaceGuid" value="2f9d0c75-d388-4b32-9428-ec14fcf7e38a"/>
    <add key="AutoConnect" value="true"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="TotpBehaviour" name="WildWildWifi.Service.ServiceProxy">
        <endpoint address="net.tcp://localhost:4416/totp" binding="netTcpBinding"
          bindingConfiguration="TotpBinding" name="CommunicationEndpoint"
          contract="WildWildWifi.Commons.ITotpDuplexService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="TotpBehaviour">
          <serviceThrottling maxConcurrentSessions="10000" maxConcurrentCalls="10000" maxConcurrentInstances="10000" />
          <serviceMetadata httpGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="TotpBinding">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true" indentsize="1">
      <listeners>
        <clear />
        <add name="xmlfile" type="System.Diagnostics.XmlWriterTraceListener" initializeData="TotpWifi.svclog" traceOutputOptions="DateTime"/>
        <add name="console" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="DateTime"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>