<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:4416/totp"
        binding="netTcpBinding" bindingConfiguration="TotpBinding"
        contract="WildWildWifi.Commons.ITotpDuplexService" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="TotpBinding" openTimeout="00:00:02" closeTimeout="00:00:02" sendTimeout="00:00:02">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>